@charset "UYF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #4C2675, 
    #7E3EC1
    );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3d3349;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #7E3EC1;
    text-align: center;
    text-shadow: 1px 1px 2px #392c47;
}
h2{
    color: #543c6f;
}

p{
    text-align: justify;
}